html, body {
  margin: 0; padding: 0; border: 0;
  width: 100%:
  height: 100%;
}
textarea {
  box-sizing: border-box;
  width: 50%;
  position: fixed;
  right: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  border: 0;
  margin: 0;
  padding: 50px;
  outline: none;
  font-size: 1rem;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.5;
  word-wrap: break-word;
  font-family: monospace;
}
#result {
  box-sizing: border-box;
  width: 50%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  padding: 50px;
  overflow-y: scroll;
}
